@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <p>Hola amiguito @context.User.Identity?.Name </p>
        <p>OMG ESTAS AUTORIZADOOO</p>
    </Authorized>
    <NotAuthorized>
        <p>NO estas autorizado....</p>
    </NotAuthorized>

</AuthorizeView>

<h1>Hello, Algorry!</h1>

Welcome to your new app.
