@page "/Api/Productos" 
@inject IHttpServicio http

<h3>-PRODUCTOS-</h3>
<br />
	<a class = "btn btn-primary" href = "/Api/Productos/agregar"><i class="bi bi-patch-plus"></i>  Agregar Producto</a> 
<br />

@code {

}
